 #landingpage {
   background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('./../../assets/images/landing-background.jpg'); 
  background-size: cover;
   min-height: 93vh;
   opacity: 1;
 }

 #title {
  color: white;
  text-align: center;
  font-size: 600%;
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;

  animation: 1s ease-out 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

 .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: left;
  font-size: x-small;
  padding: 3px;
}