<div id="header" class="container-fluid" style="background-color: white; color: black; font-family: 'Times New Roman', Times, serif">
        <!-- <h5 align="center" style="padding: 2px">LA FABRINK</h5> -->
        <!-- <div style="float: right"> -->
        <i class="fa fa-bars" aria-hidden="true"></i>
        <!-- </div> -->
</div>
<div id="landingpage" class="container-fluid">
        <div class="container-fluid" id="title" style="padding-top: 20vh"> 
                <p onclick="window.location.href='dashboard'">LA FABRY<span style="color: orange;">K</span></p>
        </div>
        <div class="container-fluid" style="margin-top: 1%; text-align: center">
                <img src='./../../assets/images/logo.png' style="width: 350px; height: 100px">
        </div>

        <div class="footer">
                @ Copyrights. LA FABRYK
        </div>
</div>
